/* Footer.css */
html, body {
  height: 100%; /* Asegura que el body ocupe el 100% de la altura */
  margin: 0; /* Sin márgenes */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hace que el contenedor principal ocupe al menos toda la altura de la ventana */
}

.footer {
  margin-top: auto; /* Asegura que el footer se empuje hacia abajo */
  position: relative; /* Para evitar problemas de posicionamiento */
}

.footer a {
  transition: color 0.3s; /* Transición suave para el color de los enlaces */
}

.footer a:hover {
  color: #ff5722; /* Cambia el color de los enlaces al pasar el mouse */
}

/* Media Queries para ajustar el tamaño del texto en móviles */
@media (max-width: 768px) {
  .footer p {
    font-size: 0.9rem; /* Tamaño del texto en móviles */
  }
}
