/* Gif.css */

html, body {
  height: 100%; /* Asegura que html y body ocupen toda la altura */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el scroll horizontal */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura de la ventana */
  overflow-y: auto; /* Permite el scroll vertical */
}

.gif-container {
  display: flex; /* Usar Flexbox para centrar el contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  margin: 1rem; /* Espacio alrededor del contenedor */
  flex-grow: 1; /* Permite que el contenedor crezca y ocupe el espacio disponible */
  overflow-y: auto; /* Permite el scroll si el contenido es demasiado grande */
}

.gif-image {
  max-width: 30%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la relación de aspecto */
  border-radius: 8px; /* Bordes redondeados para una apariencia más suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* Sombra suave para darle profundidad */
}
