.header {
  background-color: #282a2c; /* Color de fondo */
}

.navbar-brand {
  color: white; /* Color del título */
  text-align: center; /* Centrar texto */
  width: 100%; /* Ancho completo */
}

.nav-link, .dropdown-item {
  color: white; /* Color de los enlaces */
  transition: color 0.3s; /* Transición suave para el color */
}

.nav-link:hover, .dropdown-item:hover {
  color: #d1d1d1; /* Color al pasar el mouse */
}

/* Estilo para el dropdown */
.dropdown-menu {
  background-color: #282a2c; /* Fondo del menú desplegable */
}

.dropdown-toggle::after {
  margin-left: 0.5rem;
}

/* Media Queries para móviles */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.8rem; /* Tamaño del título en móviles */
  }

  .dropdown-item {
    font-size: 1.2rem; /* Tamaño de los ítems en móviles */
  }
}
