/* Botones personalizados */
.btn-primary {
  background-color: #000000; /* Cambiar el color de fondo del botón primario */
  border-color: #070707; /* Cambiar el color del borde del botón primario */
  border-radius: 50px; /* Hacer los botones más redondeados */
  padding: 10px 20px; /* Ajustar el tamaño del botón */
  font-size: 1.2rem; /* Aumentar el tamaño de la fuente */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones para un efecto más suave */
}

/* Cambios en el hover de los botones */
.btn-primary:hover {
  background-color: #2893eb; /* Color de fondo en hover */
  border-color: #519bfc; /* Color de borde en hover */
  transform: translateY(-3px); /* Efecto de elevación en hover */
}




/* Estilo del título */
h1.display-4 {
  font-size: 3rem; /* Cambiar el tamaño de fuente del encabezado */
  color: #343a40; /* Cambiar el color del texto */
  font-weight: bold; /* Hacer el texto más grueso */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Agregar sombra al texto */
}

/* Ajustes generales */
body {
  background-color: #e0f7fa; /* Fondo general de la página */
  font-family: 'Arial', sans-serif; /* Fuente personalizada */
  color: #212529; /* Color de texto general */
}
